.header {
  margin: 18px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 18px 40px;

    line-height: 19px;
    text-transform: uppercase;

    background-color: transparent;
    border: 1px solid #232020;
    border-radius: 24px;
  }
}
