.header {
  margin: 18px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background-color: transparent;
    border: 1px solid $default-color;
  }
}
